.postWriter {
  display: flex;
  flex-direction: column;
  width: 70%;
  color: var(--text);
}

/*입력란*/
.input {
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 5px;
  font-size: 14px;
  border: none;
  outline: none;
  caret-color: white;
  color: white;
  background-color: var(--light);
}

.button {
  justify-content: flex-end; 
  font-weight: bold;
  font-size: 20px;
  padding: 6px 20px;
  border: none;
  transition: color 0.2s ease, background-color 0.2s ease;
  color: var(--dark);
  background-color: var(--light);
}
.button:enabled {
  cursor: pointer;
  background-color: var(--textDark);
}